.menu {
  background-color: #403B37;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;

}

.elements {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;

}